@font-face {
    font-family: Iceland;
    src: url(./fonts/Iceland-Regular.ttf);
}
@font-face{
    font-family: Hubballi;
    src: url(./fonts/Hubballi-Regular.ttf);
}
@font-face{
    font-family: Inria Sans Light;
    src: url(./fonts/InriaSans-Light.ttf);
}
html{
    margin: 0;
}
body{
    margin: 0;
    background-color: #40445A;
}



/*HEADER*/
header{    
    height: 30vh;
    text-align: center;    
    background-color: #323949;
}
    #app_title{           
        height: 20%;
        margin-bottom: 0;  
        margin-top: 0;
        padding-top: 10px;
        color: white;        
        font-family: Iceland;      
    }
    #app_subtitle{        
        height: 20%;
        margin-top: 0;
        margin-bottom: 0;
        color: white;
        font-family: Hubballi;
    }



/*SEARCH BAR*/
    #search_container{                 
        height: 10vh;     
        padding: 10px;   
        display: flex;        
        justify-content: center;
    }
        #search_text{                        
            width: 40%;   
            height: 40%;
            border-radius: 5px;
            font-family: Inria Sans Light;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));                                
        }
        #search_start{            
            width: 40px;   
            height: 40%;                                
            padding-left: 5px;                        
            padding-right: 5px;
            src: url(./icons/search_icon.png);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));                                
        }



/*RESULT SECTION*/
    #search_query_container{
        /* border: solid orange; */
        text-align: center;
        color: white;
        font-family: Inria Sans Light;
    }
    #shows_container{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;        
    }

/*INDIVIDUAL TV SHOWS*/
        .tv-show{
            width: 30%;
            margin-bottom: 5%;
            font-family: Hubballi;
            color: white;
            background-color: #323949;
            border-radius: 10px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));   
            opacity: 0.5;       
            transition: all 0.2s;      
            cursor: pointer;            
        }
            .tv-show:hover{
                width: 35%;
                opacity: 1;
            }        
        .tv-show h3{
            text-align: center;
        }
        .show-img_container{
            text-align: center;
        }
        .show-genre{
            text-align: center;
            font-style: italic;
        }
        .show-description{            
            margin-left: 10%;
            margin-right: 10%;
        }


/*DETAILED SHOW VIEW*/
#show_expanded_modal{
    /* border: solid red; */
    position: fixed;
    top: 14%;
    width: 70%;    
    margin-left: 15%;
    margin-right: 15%;
    background-color: #40445A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
}
    #close-btn{
        /* border: solid white; */
        float: right;
        position: relative;
        bottom: 40px;       
        left: 30px;
        cursor: pointer;
        background-image: url("./icons/close_icon_darker.png");
        height: 60px; 
        width: 60px;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 

    }
    #close-btn:hover{
        background-image: url("./icons/close_icon_lighter.png");
    }
    .detailed_show{
        width: 90%;
        margin: auto;
        /* border: solid yellow; */
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: Hubballi;
    }
        .detailed_show h3{
            /* border: solid blue; */
            font-size: x-large;
            font-weight: bold;
            font-family: Iceland;
            text-decoration: underline;
        }
        .d_show_header{
            /* border: solid purple; */
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: auto auto 2.5% auto;
        }
            .d_show_review_container{
                /* border: solid yellowgreen; */
                height: 30px;
                display: flex;
                justify-content: center;
            }
                .star{
                    /* border: solid blue; */
                    background-image: url('/icons/star_icon.png');
                    height: 30px;
                    width: 30px;
                    background-position: center; 
                    background-repeat: no-repeat; 
                    background-size: cover; 
                }
            .d_show_img_container{                
                /* border: solid pink; */
                width: 40%;
            }
                .detailed_show img{                                
                    /* border: solid blue;                     */
                    max-width: 100%;                    
                }
            .d_show_side_info_container{
                width: 50%;
                /* border: solid white;             */
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                text-align: left;
                font-family: Hubballi;
            }
            .d_show_side_info_container > *{
                /* border: solid grey; */
                font-size: medium;
            }
        .d_show_description{            
            border-top: groove white;
            width: 90%;
            margin: auto;
            text-align: left;
            font-family: Inria Sans Light;
            font-size: medium;            
        }





.hidden{
    display: none !important;
}
.opaque{
    opacity: 0.3;
}
